@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@700&family=Lato:wght@100;300;400;700&family=Orbitron&family=Poppins:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: #454545;
}
section{
    height: 100vh;
    background-color: #f3f3f5;
}
header {
    /* height: 100vh; */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.navbar {
    width: 1170px;
    height: 60px;
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.nav-link:hover .nav-link-hover {
    opacity: 1;
}
.navbar .logo {
    width: 50px;
    height: 50px;
    position: relative;
}
.navbar .logo img {
    width: 100%;
    height: 100%;
    position: absolute;
}

nav ul {
    display: flex;
}
.nav-item {
    list-style-type: none;
    position: relative;
}
.nav-link {
    display: block;
    padding: 19px 22px;
    font-family: 'Lato', sans-serif;
    text-decoration-color: #e2a43000;
    text-underline-offset: 13px;
    transition: .3s;
    font-size: 16px;
}
.nav-link:hover {
    text-decoration-color: #e2a330;
    text-decoration-thickness: 1.3px;
}
.nav-link.active {
    text-decoration-color: #e2a330;
}
.icon-link {
    display: block;
    padding: 15px 30px;
    font-size: 22px;
    position: relative;
}
.icon-hover {
    position: absolute;
    width: 65px;
    height: 25px;
    background-color: #ffffff;
    right: 0;
    bottom: -15px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: .1s;
    bottom: -25px;
    pointer-events: none;
}
.icon-link:hover .icon-hover {
    opacity: 1;
}
.clippy {
    width: 100%;
    height: 100%;
    position: relative;
}
.triangle-1 {
    width: 13px;
    height: 13px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    top: -12px;
    left: 23px;
}
.icon-hover p {
    position: absolute;
    width: 100%;
    font-size: 11px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.news {
    padding: 100px 0;
}

.news .container {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.row {
    /* width: 1200px; */
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.row .col-6 {
    width: 362px;
    display: flex;
    position: relative;
    text-decoration: none;
}

.overlay-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, .15);
    opacity: 0;
    transition: 1.5s;
    z-index: 99;
}

.row .col-6:hover .overlay-hover {
    opacity: 1;
}

.tag {
    position: absolute;
    width: 170px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    top: -30px;
    left: -20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}

.tag p {
    height: 50px;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 60, 60);
}

.grow {
    flex-grow: 1;
}

.row .col-6 .card {
    width: 375px;
    height: 362px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);

}

.row:nth-child(2) {
    flex-direction: row-reverse;
}

.row .col-6 .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .col-6 .card .detail {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    padding: 35px;
}

.detail span {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: rgb(68, 181, 252);
}

.detail h5 {
    margin-top: 55px;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
}

.detail p {
    border-left: 1px solid #e2a330;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #454545;
    margin: 25px 0 0 25px;
}

.triangle-2 {
    width: 15px;
    height: 30px;
    background-color: white;
    position: absolute;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    left: -14px;
    top: 20px;
}

.social-detail {
    width: 100%;
    height: 100%;
    background-color: #307fe2;
    padding: 35px;
    position: relative;
}

.content {
    color: white;
    font-size: 25px;
    position: absolute;
    z-index: 5;
}

.content p {
    border-left: 1px solid white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 0 20px;
    margin: 25px 0 0 25px;
    line-height: 25px;
    font-weight: 300;
}

.content p span {
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
}

.fb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.fb .overlay-img {
    background-color: #3254b9be;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.fb .content p {
    font-weight: 400;
}

.insta .overlay-img {
    background: linear-gradient(90deg, rgba(250,123,27,1) 9%, rgba(247,72,113,1) 39%, rgba(238,69,252,0.2049194677871149) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.insta img {
    position: absolute;
    width: 65%!important;
    top: 0;
    right: 0;
}

.insta p {
    width: 300px;
}

.arrow {
    position: absolute;
    z-index: 99;
    bottom: 30px;
    right: 30px;
}